@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --grey: #eee;
  --dark-grey: #222831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  width: 100%;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}


nav{
  position: fixed;
  width: 70px;
  margin-top: 20rem;
  border-radius: 10px;
  transition: all 0.3s linear;
  box-shadow: 2px 2px 8px 0px rgba(0,0,0,.4);
}
nav li{
  height:60px;
  position:relative;
}
nav li a{
  color:white;
  display: block;
  height: 100%;
  width: 100%;
  line-height: 60px;
  padding-left:25%;
  border-bottom: 1px solid rgba(0,0,0,.4);
  transition: all .1s linear;
}
nav li:nth-child(1) a{
  background: #4267B2;
  border-radius: 5px;
}
nav li:nth-child(2) a{
  background: #1DA1F2;
  border-radius: 5px;
}
nav li:nth-child(3) a{
  background: #E1306C;
  border-radius: 5px;
}
nav li:nth-child(4) a{
  background: #2867B2;
  border-radius: 5px;
}
nav li:nth-child(5) a{
  background: #333;
  border-radius: 5px;
}
nav li:nth-child(6) a{
  background: #ff0000;
  border-radius: 5px;
}
nav li a i{
  position:absolute;
  top: 17px;
  left: 20px;
  font-size: 27px;
}
ul li a span{
  display: none;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}
a:hover {
  z-index:1;
  width: 100px;
  border-bottom: 1px solid rgba(0,0,0,.5);
  box-shadow: 0 0 1px 1px rgba(0,0,0,.3);
}
ul li:hover a span{
  padding-left: 30%;
  display: block;
}









footer{
  text-align: center;
  font-size:15px;
  margin-top: 200px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:black;
  padding:10px;
}
a{
  text-decoration:none;
  color:tomato;
}



